node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.dev
.phpunit.result.cache
.dockerignore
.gitattributes
.editorconfig
composer.lock
.DS_Store
Thumbs.db
*.all.php
.git
node_modules
vendor
storage
.env
docker-compose.override.yml
.DS_Store
*.log
tests
